\\.\\#.*
/Source/ALL/Languages/FILL/Parser/Token.hs
#.*
\\#.*
/Source/ALL/Languages/FILL/#TypeSyntax.hs#
/Source/ALL/Languages/FILL/.#TypeSyntax.hs
*.agdai
Source/ALL/MAlonzo/*
/Source/ALL/Languages/ILL/Parser/Token.hs
